@media screen and (max-width: 1024px) {
//___________header______________

    .page-header {
        & .container {
            & .header_right {
                gap: 20px;
                & .header_nav {
                    display: none;
                }
                & .header_btn {
                    display: none;
                }
            }
        }
    }

//___________fpage-products______________

    .page-products {
        & .container {
            & .title {
                margin-bottom: 80px;
            }
            & .products_row {
                flex-direction: column;
                align-items: center;
                gap: 50px;
            }
        }
    }

}


