.page-advantages {
    & .container {
        & .title {
            margin-bottom: 116px;
        }
        & .advantages_row {
            display: flex;
            align-items: center;
            & .advantages_content {
                width: 55%;
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                & .content_item {
                    width: 303px;
                    background-color: $blue_light;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    box-shadow: 0 0 13px 0 #00000012;
                    & .content_number {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 50px;
                        min-height: 50px;
                        background-color: $yellow;
                        border-radius: 50px;
                        font-size: 23px;
                        line-height: 125%;
                        color: $blue_dark;
                        padding: 10px;
                        margin-bottom: 30px;
                    }
                    & .content_description {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 140%;
                    }
                }
            }
            & .advantages_img {
                width: 45%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border: 10px solid #ffca42;
                    top: 50px;
                    left: 50px;
                    box-sizing: border-box;
                }
                & img {
                    object-fit: cover;
                    width: 100%;
                    z-index: 1;
                }
            }
        }
    }
}