.page-first {
    background-color: $blue_dark;
    margin-bottom: 130px;
    // height: calc(100vh - 106px);
    & .container {
        display: flex;
        align-items: center;
        & .content_container {
            max-width: 50%;
            padding-right: 75px;
            padding-top: 50px;
            padding-bottom: 50px;
            & .subtitle {
                text-align: left;
                margin-bottom: 10px;
            }
            & .first_screen_title {
                font-weight: 400;
                font-size: 64px;
                line-height: 122%;
                letter-spacing: 0.02em;
                color: $white;
                margin-bottom: 24px;
            }
            & .first_screen_content {
                font-size: 18px;
                line-height: 158%;
                color: $blue;
                margin-bottom: 40px;
                font-family: $secondary_font;
            }
            & .btn_row {
                gap: 51px;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 50px;
            }
            & .list_one {
                display: flex;
                justify-content: space-between;
                & .list_column {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    & span {
                        padding-left: 26px;
                        font-size: 17px;
                        line-height: 159%;
                        color: $blue;
                        font-family: $secondary_font;
                    }
                }
            }
        }
        & .img_container {
            width: 50%;
            height: calc(100vh - 250px);
            background: url('assets/img/first_screen_img.png') 50%/contain no-repeat;
        }
    }
}