.page-header {
    background-color: $dark_blue;
    & .container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        & .header_left {
            display: flex;
            align-items: center;
            gap: 35px;
            & .logo {
                max-width: 119px;
                min-width: 119px;
            }
            & .media_cont {
                display: flex;
                gap: 10px;
                & a {
                    & img {
                        max-width: 185px;
                        &:hover {
                            transform: scale(1.05);
                            transition: .2s;
                        }
                    }
                }
            }
        }
        & .header_right {
            display: flex;
            align-items: center;
            gap: 35px;
            & .header_nav {
                display: flex;
                gap: 48px;
                align-items: center;
                justify-content: center;
                & a {
                    color: $blue_light;
                    font-size: 17px;
                    line-height: 150%;
                    letter-spacing: 0.01em;
                    font-weight: 300;
                    max-width: 130px;
                    text-align: center;
                    &:hover,
                    &:active,
                    &:focus {
                        color: $yellow;
                        transition: .2s;
                    }
                }
            }
            & .header_basket {
                margin: 0 16px 0 5px;
                & img {
                    max-width: 17px;
                }
            }
        }
    }
}