.page-why_us {
    & .container {
        & .why_us_row {
            display: flex;
            gap: 16px;
            justify-content: center;
            flex-wrap: wrap;
            & .why_us_item {
                max-width: 313px;
                padding: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                & .why_us_description {
                    text-align: center;
                }
            }
        }
    }
}