.page-why_us {
    & .container {
        & .title {
            margin-bottom: 70px;
        }
        & .why_us_row {
            display: flex;
            gap: 16px;
            justify-content: center;
            flex-wrap: wrap;
            & .why_us_item {
                max-width: 313px;
                padding: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                & .why_us_img_box {
                    max-width: 189px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 19px;
                    & img {
                        object-fit: cover;
                        height: 100px;
                    }
                }
                & .subtitle {
                    margin-bottom: 19px;
                }
                & .why_us_description {
                    text-align: center;
                    font-size: 19px;
                    line-height: 150%;
                    color: $grey;
                    font-family: $secondary_font;
                }
            }
        }
    }
}