<section class="page-about_author">
    <div class="container">
        <div class="about_author_row">
            <div class="about_author_img">
                <img  src="assets/img/about_author_img.png" alt="author">
            </div>
            <div class="about_author_content">
                <h2 class="title title__after_start">About the Author</h2>
                <p class="about_author_description">We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime.</p>
                <div class="statistics_row">
                    <div class="statistics_item">
                        <span>02</span>
                        <p>Books Published</p>
                    </div>
                    <div class="statistics_item">
                        <span>4.5</span>
                        <p>User Reviews</p>
                    </div>
                    <div class="statistics_item">
                        <span>04</span>
                        <p>Best Seller Awards</p>
                    </div>
                </div>
                <div class="qr_row">
                    <div class="qr_img">
                        <img class="img_fluid" src="assets/img/about_author_qr.png" alt="qr">
                    </div>
                    <div class="qr_info">
                        <p class="qr_name">John Abraham , Ph.d</p>
                        <p class="qr_mail">Mail:<a href="mailto:johnabraham@gmail.com">johnabraham@gmail.com</a></p>
                        <p class="qr_phone">Phone:<a href="tel:+21235459000">(+2) 123 545 9000</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>