<section class="page-articles">
    <div class="container">
        <h2 class="title">Articles & Resources</h2>
        <div class="articles_row">
            <div class="articles_column">
                <div class="articles_img">
                    <img class="img_fluid" src="assets/img/articles_img_1.png" alt="cover">
                </div>
                <div class="articles_content">
                    <h4 class="subtitle h4">Significant reading has more info number</h4>
                    <p class="articles_description">Override the digital divide with additional clickthroughs from DevOps for real-time schemas.</p>
                    <div class="content_row">
                        <div class="btn_row">
                            <button class="btn primary_underline">Readmore</button>
                        </div>
                        <p class="articles_date">October 6, 2021</p>
                    </div>
                </div>
            </div>
            <div class="articles_column">
                <div class="articles_img">
                    <img class="img_fluid" src="assets/img/articles_img_2.png" alt="cover">
                </div>
                <div class="articles_content">
                    <h4 class="subtitle h4">Many variations of pass majority have suffered</h4>
                    <p class="articles_description">Capitalize on low-hanging fruit to identify a ballpark value-added activity to beta test.</p>
                    <div class="content_row">
                        <div class="btn_row">
                            <button class="btn primary_underline">Readmore</button>
                        </div>
                        <p class="articles_date">October 6, 2021</p>
                    </div>
                </div>
            </div>
            <div class="articles_column">
                <div class="articles_img">
                    <img class="img_fluid" src="assets/img/articles_img_3.png" alt="cover">
                </div>
                <div class="articles_content">
                    <h4 class="subtitle h4">Words which don’t look even slightly believable</h4>
                    <p class="articles_description">Podcasting operational change management inside of workflows to establish a framework.</p>
                    <div class="content_row">
                        <div class="btn_row">
                            <button class="btn primary_underline">Readmore</button>
                        </div>
                        <p class="articles_date">October 6, 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>