<section class="page-description">
    <div class="container">
        <h2 class="title">Enhance knowledge & Vision</h2>
        <div class="description_row">
            <div class="description_item">
                <h4 class="subtitle h4">Chapter-1 Get Started Intro</h4>
                <p class="description_content">You can double your knowledge by reading this ever needed book that can last a lifetime.</p>
                <ul class="list_one list_sm">
                    <div class="list_item">
                        <li>Pages:</li>
                        <span>106pages</span>
                    </div>
                    <div class="list_item">
                        <li>Length:</li>
                        <span>2 Hours</span>
                    </div>
                </ul>
            </div>
            <div class="description_item">
                <h4 class="subtitle h4">Chapter-2 The Roman Culture</h4>
                <p class="description_content">It will help to improve your life career with the perfect and needed knowledge about your life.</p>
                <ul class="list_one list_sm">
                    <div class="list_item">
                        <li>Pages:</li>
                        <span>180pages</span>
                    </div>
                    <div class="list_item">
                        <li>Length:</li>
                        <span>3 Hours</span>
                    </div>
                </ul>
            </div>
            <div class="description_item">
                <h4 class="subtitle h4">Chapter-3 How They Servived</h4>
                <p class="description_content">We wanted to create an easy, convenient way for you to get your books & support.</p>
                <ul class="list_one list_sm">
                    <div class="list_item">
                        <li>Pages:</li>
                        <span>250pages</span>
                    </div>
                    <div class="list_item">
                        <li>Length:</li>
                        <span>4 Hours</span>
                    </div>
                </ul>
            </div>
            <div class="description_item">
                <h4 class="subtitle h4">Chapter-4 The End Of Romans</h4>
                <p class="description_content">Promote your book via Pages shop to support your writing & reading career.</p>
                <ul class="list_one list_sm">
                    <div class="list_item">
                        <li>Pages:</li>
                        <span>175pages</span>
                    </div>
                    <div class="list_item">
                        <li>Length:</li>
                        <span>3 Hours</span>
                    </div>
                </ul>
            </div>
        </div>
        <div class="btn_row">
            <button class="btn primary_lg">Start a 15-Days Free Trail</button>
        </div>
        <div class="description_link_row">
            <a class="description_link" href="#">Short description about each chapter</a>
            <p class="description_contact_link">Have any questions?<a href="#">Contact us</a></p>
        </div>
    </div>
</section>