<section class="page-feedback">
    <div class="container">
        <div class="feedback_row">
            <div class="feedback_content">
                <h2 class="title title__after_start text_left">Words From Our Readers</h2>
                <p class="feedback_description">We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime.</p>
                <div class="feetback_ratings_row">
                    <div class="ratings_stars">
                        <span class="ratings_full_star"></span>
                        <span class="ratings_full_star"></span>
                        <span class="ratings_full_star"></span>
                        <span class="ratings_full_star"></span>
                        <span class="ratings_half_star"></span>
                        <span class="ratings_level">(4.8/5)</span>
                    </div>
                    <div class="ratings_title">
                        <p>Overall Customer Ratings</p>
                    </div>
                </div>
            </div>
            <div class="feedback_customers">
                <div class="customers_item">
                    <div class="customers_row">
                        <div class="customers_img">
                            <img src="assets/img/feedback_customer_1.svg" alt="costomer">
                        </div>
                        <h4 class="subtitle h4 text_white">James Williams</h4>
                        <div class="ratings_stars">
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_half_star"></span>
                        </div>
                    </div>
                    <h5 class="customers_title">“ Great Books Collections ”</h5>
                    <p class="customer_feedback">I was searching this book for many years and I was happy that I could find it here.</p>
                </div>
                <div class="customers_item">
                    <div class="customers_row">
                        <div class="customers_img">
                            <img src="assets/img/feedback_customer_2.svg" alt="costomer">
                        </div>
                        <h4 class="subtitle h4 text_white">Chris Adams</h4>
                        <div class="ratings_stars">
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_empty_star"></span>
                        </div>
                    </div>
                    <h5 class="customers_title">“ Perfect Response Author”</h5>
                    <p class="customer_feedback">I had a question about the book and the author response was great & comfort.</p>
                </div>
                <div class="customers_item">
                    <div class="customers_row">
                        <div class="customers_img">
                            <img src="assets/img/feedback_customer_3.svg" alt="costomer">
                        </div>
                        <h4 class="subtitle h4 text_white">Angeline Flora</h4>
                        <div class="ratings_stars">
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_full_star"></span>
                            <span class="ratings_half_star"></span>
                        </div>
                    </div>
                    <h5 class="customers_title">“ Creative Writing Skill”</h5>
                    <p class="customer_feedback">Sent an email after to books arrived to ask about the author & I received a reply.</p>
                </div>
            </div>
        </div>
    </div>
</section>