<section class="page-first">
    <div class="container">
        <div class="content_container">
            <h5 class="subtitle h5 text_white subtitle_after">Welcome to Pages!!!</h5>
            <h1 class="first_screen_title">Your Books From The Best Writer.</h1>
            <p class="first_screen_content">We believe that reading books are essential to a healthy culture. They’re where authors can connect with readers.</p>
            <div class="btn_row">
                <button class="btn">Order Today</button>
                <button class="btn primary_underline primary_underline_lg">Read Free Demo</button>
            </div>
            <ul class="list_one text_white">
                <div class="list_column">
                    <li>Pages:</li>
                    <span>250pages</span>
                </div>
                <div class="list_column">
                    <li>Length:</li>
                    <span>10 Hours</span>
                </div>
                <div class="list_column">
                    <li>Rating:</li>
                    <span>4.5/5 (305 ratings)</span>
                </div>
            </ul>

        </div>
        <div class="img container">
            <img class="img_fluid" src="assets/img/first_screen_img.png" alt="book">
        </div>
    
    </div>
</section>