<footer>
    <div class="container">
        <div class="footer_row">
            <div class="footer_media_column">
                <a class="logo" href="index.html">
                    <img class="img_fluid" src="assets/img/header_logo.svg" alt="logo">
                </a>
                <div class="media_row">
                    <a href="#">
                        <img src="assets/img/footer_icon_facebook.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="assets/img/footer_icon_twit.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="assets/img/footer_icon_in.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="assets/img/footer_icon_inst.svg" alt="instagram">
                    </a>
                </div>
            </div>
            <div class="footer_column">
                <h4 class="subtitle h4 text_white">Explore</h4>
                <ul class="list_two">
                    <a><span class="span"></span>Home</a>
                    <a><span class="span"></span>About</a>
                    <a><span class="span"></span>Articles</a>
                    <a><span class="span"></span>Our Store</a>
                    <a><span class="span"></span>Contact Us</a>
                </ul>
            </div>
            <div class="footer_column">
                <h4 class="subtitle h4 text_white">Utility Pages</h4>
                <ul class="list_two">
                    <a><span class="span"></span>Style Guide</a>
                    <a><span class="span"></span>404 Not Found</a>
                    <a><span class="span"></span>Password Protected</a>
                    <a><span class="span"></span>Licenses</a>
                    <a><span class="span"></span>Changelog</a>
                </ul>
            </div>
            <div class="footer_adress_column">
                <h4 class="subtitle h4 text_white">Keep in Touch</h4>
                <div class="adress_row">
                    <h6>Address :</h6>
                    <p>24A Kingston St, Los Vegas<span>NC 28202, USA.</span></p>
                </div>
                <div class="adress_row">
                    <h6>Mail :</h6>
                    <a href="mailto:johnabraham@gmail.com">johnabraham@gmail.com</a>
                </div>
                <div class="adress_row">
                    <h6>Phone :</h6>
                    <a href="tel:+21235459000">(+2) 123 545 9000</a>
                </div>
            </div>
        </div>
        <div class="footer_done">
            <p>© Drafted by</p>
            <a href="#">VictorFlow</a>
            <p>- Powered by</p>
            <a href="#">Webflow</a>
            <p>.</p>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script async src="assets/js/custom.js"></script>
</body>
</html>