<header class="page-header">
    <div class="container">
        <div class="header_left">
            <a href="index.html">
                <img class="img_fluid logo" src="assets/img/header_logo.svg" alt="logo">
            </a>
            <div class="media_cont">
                <a href="#">
                    <img src="assets/img/header_face.svg" alt="media" class="media_item">
                </a>
                <a href="#">
                    <img src="assets/img/header_twit.svg" alt="media" class="media_item">
                </a>
                <a href="#">
                    <img src="assets/img/header_in.svg" alt="media" class="media_item">
                </a>
            </div>
        </div>
        <div class="header_right">
            <ul id="menu" class="header_nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <a class="header_basket" href="#">
                <img src="assets/img/header_basket.svg" alt="basket">
            </a>
            <button id="burger" class="burger">
                <div></div>
            </button>
            <button class="btn header_btn">Order Today</button>
        </div>
    </div>

</header>

