<section class="page-order">
    <div class="container">
        <div class="order_row">
            <div class="order_content">
                <h2 class="title title__after_start text_white text_lg">Get Book Copy Today!</h2>
                <p class="order_description">We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers.</p>
                <div class="btn_row">
                    <button class="btn primary_outline color_white">Order Today</button>
                </div>
            </div>
            <div class="order_img">
                <img class="img_fluid" src="assets/img/order_img.png" alt="book">
            </div>
        </div>
    </div>
</section>