<section class="page-subscribe">
    <div class="container">
        <div class="subscribe_row">
            <h2 class="title title__after_blue">Get The Best Updates</h2>
            <p class="subscribe_description">Subscribe with your mail id to know the current update in book edition at your fingertip with in a minute.</p>
            <div class="input_row">
                <input type="email" placeholder="Your Email ID...">
                <button class="btn_secondary secondary_lg">Subscribe</button>
            </div>
        </div>
    </div>
</section>