<section class="page-why_us">
    <div class="container">
        <h2 class="title">Trusted By The Best</h2>
        <div class="why_us_row">
            <div class="why_us_item">
                <div class="why_us_img_box">
                    <img class="img_fluid" src="assets/img/why_us_img_1.svg" alt="partner">
                </div>
                <h4 class="subtitle h4">Amazen Corp.</h4>
                <p class="why_us_description">They has been helping readers, music lovers, and videophiles find quality material.</p>
            </div>
            <div class="why_us_item">
                <div class="why_us_img_box">
                    <img class="img_fluid" src="assets/img/why_us_img_2.svg" alt="partner">
                </div>
                <h4 class="subtitle h4">Megan Books</h4>
                <p class="why_us_description">We help physical bookstores manage their overstock to the book inventory.</p>
            </div>
            <div class="why_us_item">
                <div class="why_us_img_box">
                    <img class="img_fluid" src="assets/img/why_us_img_3.svg" alt="partner">
                </div>
                <h4 class="subtitle h4">Megank</h4>
                <p class="why_us_description">Bookstore serving up the full spectrum of Black literature and wine black books.</p>
            </div>
            <div class="why_us_item">
                <div class="why_us_img_box">
                    <img class="img_fluid" src="assets/img/why_us_img_4.svg" alt="partner">
                </div>
                <h4 class="subtitle h4">Urban Store</h4>
                <p class="why_us_description">We also carry the latest records, issues of all of your favorite comic books.</p>
            </div>
        </div>
    </div>
</section>